<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Exercise Tracker</h1>
    <hr>
    <div>
        <p>Create a new user </p>
        <form action="api/exercise/new-user" method="POST">
            <input type="text" id="username" name="username" required> <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <hr>
    <div>
        <p>Add more information </p>
        <form action="api/exercise/add" method="POST">
            <input type="text" id="userId" name="userId" required placeholder="user id"> <br>
            <input type="text" id="description" name="description" required placeholder="description"><br>
            <input type="number" id="duration" name="duration" required placeholder="duration"><br>
            <input type="date" id="date" name="date" required placeholder="date"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <hr>
    <div>
        <code>
            GET /api/exercise/log?{userId}[&from][&to][&limit]
        </code>
    </div>
</body>

</html>