<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Exercise Tracker</h1>
    <hr>
    <table>
        <tr>
            <td>
                <p>Create a new user </p>
            </td>
            <td>
                <p>Add exercise to user </p>

            </td>
        </tr>
        <tr>
            <td>
                <form action="api/exercise/new-user" method="POST">
                    <input type="text" id="username" name="username" required placeholder="user name (*)" minlength="5"
                        maxlength="20"> <br>
                    <input type="submit" value="Submit">
                </form>
            </td>
            <td>
                <form action="api/exercise/add" method="POST">
                    <input type="text" id="userId" name="userId" required placeholder="user id (*)"> <br>
                    <input type="text" id="description" name="description" required placeholder="description (*)"><br>
                    <input type="number" id="duration" name="duration" required placeholder="duration (mins) (*)"><br>
                    <input type="date" id="date" name="date" placeholder="date"><br>
                    <input type="submit" value="Submit">
                </form>
            </td>
        </tr>
    </table>
    <hr>
    <div id="code">
        <p> <a href="api/exercise/users">Get all user</a></p>
        <code>
            [..]/api/exercise/users
        </code>
        <p><a href="api/exercise/log">Log</a></p>
        <code>
            [..]/api/exercise/log?{userId}[&from][&to][&limit]
        </code>
    </div>
</body>

</html>